@charset "utf-8";

// カラーコードを変数として定義
$primary-color: #242f9b;
$white-color: #ffffff;
$error-color: #ff3333;
$text-color: #555555;

.edit-list {
  width: 100%; // 幅を100%に設定
  max-width: 1000px; // 最大幅を1000pxに設定
  margin: 0 auto;
  padding: 0 15px; // パディングを追加

  &-form {
    color: $text-color;
  }

  &-title {
    width: 100%; // 幅を100%に設定
    max-width: 300px; // 最大幅を300pxに設定
    margin-bottom: 25px;
  }

  &-button {
    background-color: $primary-color;
    color: $white-color;
    width: 100%; // 幅を100%に設定
    max-width: 80px; // 最大幅を80pxに設定
    height: 40px;
    border-radius: 5px;
  }
}

.delete-list-button {
  color: $error-color;
  border: solid 1px $error-color;
  width: 100%; // 幅を100%に設定
  max-width: 80px; // 最大幅を80pxに設定
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.error-message {
  color: $error-color;
}

// メディアクエリ
@media (max-width: 768px) {
  .edit-list {
    padding: 0 10px;

    &-title {
      font-size: 14px;
    }
  }

  .delete-list-button {
    margin: 20px 5px;
  }
}

@media (max-width: 480px) {
  .edit-list {
    padding: 0 5px;

    &-title {
      font-size: 12px;
    }
  }

  .delete-list-button {
    margin: 15px 3px;
  }
}
