@charset "utf-8";

// カラーコードを変数として定義
$primary-color: #242f9b;
$text-color: #555555;
$white-color: #ffffff;
$error-color: #ff3333;

.signin {
  width: 500px;
  margin: 0 auto;
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: $text-color;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  background-color: $primary-color;
  color: $white-color;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $error-color;
}
