@charset "utf-8";

// カラーコードを変数として定義
$primary-color: #242f9b;
$white-color: #ffffff;

.header {
  width: 100%;
  height: 80px;
  background-color: $primary-color;
  color: $white-color;
  display: flex;
  justify-content: space-between;
}

.sign-out-button {
  color: $white-color;
  margin: auto 25px auto auto;
}
